body {
	background: linear-gradient(#F0F8FF, #FFFAF0);
}

h1 {
	font-size: 30px;
	color: #9400D3;
	font-family: Times New Roman;
	font-weight: bold;
}

img {
	height: 200px;
	width: 200px;
	padding: 10px;
	border: groove;
	border-color: #87CEEB;
}

ul {
	margin: 30px;
	border: groove;
	border-color:#87CEEB;
	font-family: Times New Roman;
	color: #00008B;
}

footer {
	text-align: center;
	font-size: 10px;
	font-weight: lighter;
}

a:active {
	background-color: #483D8B;
}

a:visited{
	color: #8B008B;
}

@media screen and (max-width: 500px) {
  body {
    background-color: #00CED1;
  }
}

.facts {
	font-weight: bolder;
}

#greeting {
	font-weight: lighter;
}