body {
	background: #F0F8FF;

h1 {
	font-size: 30px;
	color: #8A2BE2;
	font-family: Times New Roman;
	font-weight: bold;
}

img {
	height: 200px;
	width: 200px;
	padding: 10px;
	border: groove;
	border-color: #87CEEB;
}

ul {
	margin: 30px;
	border: groove;
	border-color:#87CEEB;
	font-family: Times New Roman;
	color: #00008B;
}

footer {
	text-align: center;
}

